<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         id="WebApp_ID" version="6.0">
    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>com.calculator.AddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MultiplyServlet</servlet-name>
        <servlet-class>com.calculator.MultiplyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MultiplyServlet</servlet-name>
        <url-pattern>/multiply</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChooseOperationServlet</servlet-name>
        <servlet-class>com.calculator.ChooseOperationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChooseOperationServlet</servlet-name>
        <url-pattern>/choose</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ResultServlet</servlet-name>
        <servlet-class>com.calculator.ResultServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResultServlet</servlet-name>
        <url-pattern>/result</url-pattern>
    </servlet-mapping>
</web-app>
